body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 40px;
}

#gallery figure {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

#gallery figure img {
  width: 100%;
  height: auto;
  display: block;
  border: 5px solid #fff;
}

#gallery figure figcaption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  font-size: 1.2rem;
}

figure {
  text-align: center;
  border: 6px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

figcaption {
  margin-top: 10px;
  font-size: 14px;
}

.thumbnails-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnails-container img {
  margin: 10px;
  border: 3px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.thumbnails-container img:hover {
  filter: grayscale(0%);
  border-color: #0f0;
}


.thumbnails-container img.active {
  border-color: #0f0;
}

#thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
}